extends layout

block content
  
  script(src='/socket.io/socket.io.js')
  script(src=' /javascripts/utility-scripts.js')

  .container
    .row
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#') Diskus
          form.navbar-form.navbar-left(action='',method='')
            .form-group
              input#usrname.form-control(type='text')
            button#uname-set.btn.btn-default(type='button') set username
          ul.nav.navbar-right.navbar-nav
            li
              a(href='#')
                span.user-glyph.glyphicon.glyphicon-user(style='display:none;')&nbsp
                span.nav-user-name

    .row.container-fluid.chatarea
      .message-container
        span#message-user
          b asojfba &nbsp : &nbsp
        span#message-text sadlbsdgisdabgfiasdbighkbasdihgbasdihgbasdhib

    .row.write-container
      button#emoji-btn(type='button') :-)
      input#writebox(placeholder='enter your message')
      button#chat-send-btn(type='button') Send
              

  script.
    
    var socket = io();

    fetchById('uname-set').addEventListener('click', function(){
      var unm = fetchById('usrname').value;
      makeAjaxPost('/set-user',{ username : unm }, function(responseText){
        console.log(responseText)
        var resObj = (isJson(responseText)) ? JSON.parse(responseText) : responseText;
        console.log('username='+resObj.username+' ::: action='+resObj.action);
        fetchByClass('user-glyph').style.display = 'inline';
        fetchByClass('nav-user-name').innerHTML = unm;
      });
    });

    function emitSendChatSocketevent(){
      console.log('khaise. click hoise');
      var msg = fetchById('writebox').value;
      var usr = fetchByClass('nav-user-name').innerHTML;
      if(msg != '' && msg != null){
        console.log('mesage empty noye')
        socket.emit('chat-sent', {
          username : usr,
          message : msg
        });
      }
      else{console.log('message tah empty');}
    }

    fetchById('chat-send-btn').addEventListener('click', emitSendChatSocketevent);
    //  do the same event firing on enter key press fetchById('chat-send-btn').('click', emitSendChatSocketevent);
    

    socket.on('group-message-handled', function(data){
      var messageContainer = '<div class="message-container"><span class="message-user"><b>'+data.user+'&nbsp:&nbsp</b></span><span class="message-text">'+data.message+'</span></div>';
      fetchByClass('chatarea').innerHTML += messageContainer;
      fetchById('writebox').value = '';
    });

    //- fetchById().addEventListener('click', )

