extends layout

block header

  script(src='/socket.io/socket.io.js')
  script(src=' /javascripts/utility-scripts.js')

block content
  
  .container-fluid
    .row.container-fluid.chatarea
      .message-container
        span#message-user
          b asojfba &nbsp : &nbsp
        span#message-text sadlbsdgisdabgfiasdbighkbasdihgbasdihgbasdhib
      - each message in messages
        .message-container
          span#message-user
            b #{message.sendername} &nbsp : &nbsp
          span#message-text #{message.text}

    .row.write-container
      .col-md-1
        button#emoji-btn(type='button') :-)
      .col-md-10 
        input#writebox(placeholder='enter your message')
      .col-md-1
        button#chat-send-btn(type='button') Send
              

  script.
    
    var socket = io();

    fetchById('uname-set').addEventListener('click', function(){
      var unm = fetchById('usrname').value;
      makeAjaxPost('/set-user',{ username : unm }, function(responseText){
        console.log(responseText)
        var resObj = (isJson(responseText)) ? JSON.parse(responseText) : responseText;
        console.log('username='+resObj.username+' ::: action='+resObj.action);
        fetchByClass('user-glyph').style.display = 'inline';
        fetchByClass('nav-user-name').innerHTML = unm;
      });
    });

    function emitSendChatSocketevent(){
      console.log('khaise. click hoise');
      var msg = fetchById('writebox').value;
      var usr = fetchByClass('nav-user-name').innerHTML;
      if(msg != '' && msg != null){
        console.log('mesage empty noye')
        socket.emit('chat-sent', {
          username : usr,
          message : msg
        });
      }
      else{console.log('message tah empty');}
    }

    fetchById('chat-send-btn').addEventListener('click', emitSendChatSocketevent);

    fetchById('writebox').addEventListener('keydown', (event)=>{
      if(event.keyCode == 13 && !event.shiftKey){
        emitSendChatSocketevent();
      }
    });

    setInterval(function(){
      var chatArea = fetchByClass('chatarea')
      chatArea.scrollTop = chatArea.scrollHeight;
    }, 200);

    socket.on('group-message-handled', function(data){
      var messageContainer = '<div class="message-container"><span class="message-user"><b>'+data.user+'&nbsp:&nbsp</b></span><span class="message-text">'+data.message+'</span></div>';
      var chatArea = fetchByClass('chatarea');
      chatArea.innerHTML += messageContainer;
      fetchById('writebox').value = '';
      scrollDown2Latest(chatArea);
    });